# Archivos temporales
planificacion/.~lock.planificacion.ods#

# Caché de pytest
**/__pycache__

# Archivos de log
**.log

# Entorno virtual -> Para evitar dependencias conflictivas en distintas plataformas
python/app/beeware-env/
